footer {
    height: 15%;
    width: 100%;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer section {
    height: 80%;
}

footer img {
    height: 2rem;
    align-self: flex-start;
}

div span {
    font-size: small;
}

.usuario {
    height: 60%;
}

article {
    display: flex;
    flex-direction: row-reverse;
    font-size: large;
    margin-right: 1.5rem;
    padding-bottom: 3rem;
}

#vermelho {
    color: red;
    text-decoration: underline;
}

div:empty {
    margin-left: 0;
    border-top: 1px solid gray;
    margin-bottom: 1.5rem;
}

div.fundo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div .cupom {
    height: 2rem;
    width: 2rem;
}

#usos {
    display: flex;
    flex-direction: column;
}